.searchTerm {
  width: 100%;
  min-height: 150px;
  height: 150px;
  border: 3px solid #009fe2;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #777;
}

.bodyfooter{
    display: flex;
  }

  @media ( max-width: 484px ){
    .bodyfooter{
        display: block;
    }
  }